USE [master]
GO
/****** Object:  Database [LEWIS_STORE_STOCK]    Script Date: 2026/03/17 16:22:53 ******/
CREATE DATABASE [LEWIS_STORE_STOCK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LEWIS_STORE_STOCK', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\LEWIS_STORE_STOCK.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LEWIS_STORE_STOCK_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\LEWIS_STORE_STOCK_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LEWIS_STORE_STOCK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LEWIS_STORE_STOCK]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 2026/03/17 16:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[ItemID] [int] NOT NULL,
	[Name] [varchar](30) NULL,
	[Description] [varchar](max) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Item] ([ItemID], [Name], [Description], [Quantity], [Price]) VALUES (0, N'Fan', N'Its a fan', 100, CAST(1200 AS Decimal(18, 0)))
GO
USE [master]
GO
